<h1>Films#index</h1>

<!-- ability for admin -->
<%= link_to 'add new film', new_film_path %>
<!-- end -->

<% @films.select(:id, :title, :description, :category).each do |f| %>
  <p>
    <%= f.inspect %> 
    <br>
    <%= f.avarage_rate %> 
    <%= link_to 'show', film_path(f) %>
  </p>
<% end %>
  
