<h1>Films#index</h1>

<!-- ability for admin -->
<%= link_to 'add new film', new_film_path %>
<!-- end -->

<% @films.each_with_index do |f, i| %>
  <p>
    <%= f.inspect %> 
    <br>
    <%= @rates[i] %> x
    <%= link_to 'show', film_path(f) %>
  </p>
<% end %>
  