<% ValidOptionsChecker.call(@options, %i[rate rated?]) %>
<h1>Films#show</h1>
  <%= render 'films/shared/film', local_options: {
        film:   @film,
        rate:   @options[:rate],
        rated?: @options[:rated?] 
      } %>

<% if can? :manage, @film %>
  <%= link_to 'edit', edit_film_path %>
  <%= link_to 'destroy', destroy_film_path %>
<% end %>