<% ValidOptionsChecker.call(@options, %i[rate_params]) %>

<%= render 'films/shared/film', local_options: PartialsDataCollector.call(@film, @options[:rate_params])  %>
<div class="container">
  <div class="row">
    <div class="col-8">
      <%= link_to 'Back', :back, class: 'btn btn-outline-primary' %>
    </div>
    <% if can? :manage, @film %>
      <div class="col-2">
        <%= link_to 'Edit', edit_film_path, class: 'btn btn-warning w-100' %>
      </div>
      <div class="col-2">
        <%= link_to 'Destroy', destroy_film_path, class: 'btn btn-danger w-100' %>
      </div>
    <% end %>
  </div>
</div>
